body {
    background-color: rgb(215, 231, 250);
    margin: 1px;
    padding: 25px;
}

h1 {
    color:rgb(80, 56, 27)
}

.foodcategory {
    background-color: bisque;
    width: 300px; outline: 1px solid black

} 

.list {
    background-color: rgb(178, 178, 178);
    width: 200px 
}

img {
    padding-left: 2px 
}